<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../js/dialog-plus.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/artDialog.css">
    <script>

        $(function(){
            try {
                var dialog = top.dialog.get(window);
            } catch (e) {
                $('body').append(
                    '<p><strong>Error:</strong> 跨域无法无法操作 iframe 对象</p>' +
                    '<p>chrome 浏览器本地会认为跨域，请使用 http 方式访问当前页面</p>'
                );
                return;
            }

            $('#confirmSumit').on('click', function() {
                console.log(form2JsonString('editForm'));
                dialog.close(form2JsonString('editForm')); // 关闭（隐藏）对话框
                dialog.remove(); // 主动销毁对话框
                return false;
            });
        })

    </script>
</head>
<body>
    <form id="editForm">
        <table>
                <tr>
                    <td>长度：</td>
                    <td><input name="noteLength" id="noteLength" type="text"></td>
                </tr>
                <tr>
                    <td>宽度：</td>
                    <td><input name="noteWidth" id="noteWidth" type="text"></td>
                </tr>
                <tr>
                    <td>节点内容：</td>
                    <td>
                        <textarea id="content" name="content">

                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="confirmSumit" id="confirmSumit" type="button" value="确定">
                    </td>
                </tr>
        </table>
    </form>
</body>
</html>