<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../../js/artDialog.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="stylesheet" href="../../css/artDialog.css">
    <script>
        $(function () {
            $("#saveNote").click(function(){
                top.dialog({
                    url : '/note/toEdit?option=1',
                    title:'节点编辑框',
                    width: 380,
                    //height:100,
                    data: $('#input').val(),
                    onclose:function(){
                        top.handleNote(this.returnValue);
                        top.dialog.get("edit").close();

                    },
                    oniframeload: function() {
                        //console.log('iframe ready')
                    }
                }).showModal();
            });
            $("#editNote").click(function(){
                var editNote = top.dialog({
                    id:'editNode',
                    url:'/note/toEdit?option=2&noteId='+$("#noteId").val(),
                    title:'节点编辑框',
                    width: 380,
                    //height: 120,
                    data: $('#input').val(), // 给 iframe 的数据
                    onclose: function() {
                        top.handleNote(this.returnValue);
                        top.dialog.get("edit").close();
                    },
                    oniframeload: function() {
                        //console.log('iframe ready')
                    }
                }).showModal();
            });
            $("#delNote").click(function(){
                top.dialog({
                    title: "操作提示",
                    content: '确定删除？',
                    okValue: "确定",
                    width: 200,
                    ok: function () {
                        handleNote('{"option" : "3"}');
                    }
                }).showModal();
            });
            $("#saveAllNotes").click(function(){
                top.dialog({
                    title: "操作提示",
                    content: '确定保存所有节点信息？',
                    okValue: "确定",
                    width: 200,
                    ok: function () {
                        top.handleNote('{"option" : "4"}');
                        top.dialog.get("edit").close();
                    }
                }).showModal();
            });
            $("#addChildNavigate").click(function(){
                var type = $("#addChildNavigate").val();
                if(type == '新增子导航'){
                    top.dialog({
                        title: "操作提示",
                        content: '确定新增子导航？',
                        okValue: "确定",
                        width: 200,
                        ok: function () {
                            top.handleNote('{"option" : "5"}');
                            top.dialog.get("edit").close();
                        }
                    }).showModal();
                }else{
                    top.handleNote('{"option" : "11"}');
                    top.dialog.get("edit").close();
                }

            });
            $("#queryEle").click(function(){
                top.dialog({
                    id: 'query',
                    url : '/note/toQuery?rootId=[[${noteModel.rootId}]]',
                    width: 1300,
                    height:800,
                    type:'GET',
                    title:'节点查询框',
                    onclose:function(){
                        top.handleNote(this.returnValue);
                        top.dialog.get("edit").close();
                    }
                }).showModal();
            });
            $("#deletEle").click(function(){
                top.handleNote('{"option" : "10"}');
                top.dialog.get("edit").close();
            });

            //显示过长内容
            var longContent = '[[${noteModel.noteContent}]]';
            console.log("longContent"+longContent);
            var brCount = getStrAppear(longContent,'&lt;br/&gt;');
            if(brCount > 0){
                document.getElementById('longContent').innerHTML = "节点内容：<br />"+longContent.replace(/\&lt\;br\/\&gt\;/g, "<br />");
            }

            //判断是否有子导航
            $.ajax({
                url:"/note/getNoteList",
                type:'post',
                cache:false,
                async: false,
                dataType:'json',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data: {'rootId': $("#noteId").val()},
                success:function(result){
                    if(result.length == 0){
                        $("#addChildNavigate").val("新增子导航");
                    }else{
                        $("#addChildNavigate").val("进入子导航");
                    }
                }
            });

            //有图片显示图片
            $.ajax({
                url:"/note/getNoteList",
                dataType:'json',
                data: {'noteId': $("#noteId").val()},
                success:function(result){
                    if(result.length > 0 && result[0].picPath != null && result[0].picPath != ''){
                        //显示图片
                        $("#imgDiv").append('<img style="width: 300px;height: 200px;" src="/note/downloadPic?noteId='+$("#noteId").val()+'">');
                    }
                }
            });
        });

    </script>
</head>
<body>
    <table>
        <tr>
            <td>
                <input id="saveNote" type="button" value="新增节点">
                <input type="hidden" id="noteId" th:value="${noteModel.noteId}">
                <input type="hidden" id="notex" th:value="${noteModel.notex}">
                <input type="hidden" id="notey" th:value="${noteModel.notey}">
            </td>
            <td><input id="editNote" type="button" value="编辑节点"></td>
            <td><input id="delNote" type="button" value="删除节点"></td>
            <td><input id="saveAllNotes" type="button" value="保存所有节点信息"></td>
        </tr>
        <tr>
            <td><input id="addChildNavigate" type="button" value="新增子导航"></td>
            <td><input id="queryEle" type="button" value="查询元素"></td>
            <td><input id="deletEle" type="button" value="删除元素"></td>
        </tr>
    </table>
<div style="overflow-y: auto;height: 250px;" id="longContent"></div>
<div id="imgDiv">

    <form action="/note/upload" method="post" enctype="multipart/form-data" target="frameName">
        选择图片<input type="file" name="file">
        <input name="nodeId" type="hidden" th:value="${noteModel.noteId}">
        <input type="submit" value="上传">
    </form>
    <iframe src="" frameborder="0" name="frameName" style=""></iframe>
</div>
</body>
</html>